* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400; }

.showCase {
  width: 100vw;
  height: 90vh;
  display: flex; }
  .showCase--item {
    width: 50vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; }
    .showCase--item-1 {
      display: flex;
      flex-direction: column;
      clip-path: polygon(0 1%, 100% 0, 78% 100%, 0% 100%);
      align-items: center; }
      .showCase--item-1__title {
        letter-spacing: 0.3rem;
        color: #1dd1a1; }
      .showCase--item-1__caption {
        color: #1dd1a1;
        width: 25rem;
        text-align: center; }
    .showCase--item-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }

.formSection {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .formSection--item {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }

.formCard {
  width: 70%; }

.input-field {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important; }

.navbar-custom {
  background-color: #26a29a; }

.alert {
  width: 90%;
  height: auto;
  padding: 0.5rem;
  margin: 1rem 0rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  line-height: 1.5rem; }
  .alert-danger {
    background-color: #ff6b6b;
    color: #fff; }
  .alert-success {
    background-color: #33d9b2;
    color: #fff; }
  .alert-msg {
    margin: 0rem 0.8rem; }

.height-full {
  max-height: 100vh; }

.height-half-m {
  height: 75vh; }

.height-half {
  height: 50vh; }

.height-quater {
  height: 25vh; }
