.navbar-custom {
  background-color: $primaryColor-1;
}

.alert {
  width: 90%;
  height: auto;
  padding: 0.5rem;
  margin: 1rem 0rem;
  border-radius: 0.2rem;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  &-danger {
    background-color: $secondaryColor;
    color: $color-white;
  }

  &-success {
    background-color: $color-success;
    color: $color-white;
  }

  &-msg {
    margin: 0rem 0.8rem;
  }
}
